{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Blog post</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" type="text">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
    <div class="page-header">
      {% if user.is_authenticated %}
        <a href="{% url 'post_new' %} " class="top-menu"><i class="far fa-plus-square" style="float:right"></i></a>
        <h1><a href="/">Cool Kids Blog </a><i class="fas fa-blog"></i></h1>
      {% endif %}  
    </div>
    <div class="content container">
      <div class="row">
          <div class="col-md-8">

              {% block content %}
              {% endblock %}

          </div>
      </div>
    </div>

  </body>
</html>
